@import "../../App.scss";

.card {
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    transform: scale(1);
    transition: transform ease-in 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  h3 {
    margin-top: 0;
  }

  .coming-soon {
    color: #f2d64f;
  }
  .img-container {
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  height: 100vh;
  width: 100%;
  background-color: rgba(136, 136, 136, 0.399);
  padding: 1em;
  z-index: 999;

  .modal {
    background-color: $black;
    color: $white;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 20px;
    max-height: 90vh;
    animation: fadeInUp 0.5s forwards;

    .modal-content {
      max-height: 80vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    h3 {
      color: $white;
    }

    .accent-color {
      color: rgb(240, 237, 237);
    }

    .img-container {
      img {
        height: 200px;
        object-fit: contain;
      }
    }

    .cancel-btn {
      // position: -webkit-sticky;
      // position: -webkit-sticky;
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: transparent;
      color: $white;
      border: 0;
      font-size: larger;
      font-weight: bolder;
    }

    .links-container {
      .btn + .btn {
        margin: 1em auto 0;
      }

      @media (min-width: 300px) {
        .btn + .btn {
          margin-left: 1em;
        }
      }
    }

    @media (prefers-color-scheme: light) {
      background-color: whitesmoke;
      color: $black;

      h3 {
        color: $black;
      }

      .accent-color {
        color: rgb(84, 82, 82);
      }

      .cancel-btn {
        color: rgb(6, 6, 6);
      }
    }

    @media (min-width: 700px) {
      height: max-content;
      display: flex;
      gap: 1em;
      max-width: 800px;
      margin: 2em auto;
      text-align: left;

      .img-container {
        width: 100%;
        display: block;
        margin: auto;
        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
}
