.education{
  background-image: url("../../assets/images/fern-bg.jpg");
  background-position: center;
  color: white;
  padding: 1em;
  margin: 0 auto;
  position: relative;
  

  .certificates-list{
    li{
      margin-block: 1em;
      small{
        color: #a7a2a2;
      }
    }
  }

  @media (min-width: 1000px) {
      display: grid;
      grid-template-areas: 
        "certificates skills"
        "download download"
        ;
      justify-items: center;

      .certificates{
        grid-area: certificates;
      }
      .skills{
        grid-area: skills;
      }
      
      .download-container{
        grid-area: download;
    }


  }
}