.about {
  // background-image: url("../../assets/images/light-bg.jpg");
  // background: linear-gradient(to bottom, #000, #fcbde2, #f3e5f0, #f7d4e8, #000);
  // background-color: #fafafa;
  background-color: #120124;
  // background-blend-mode: lighten;
  // background-size: cover;
  // background-position: left;
  padding: 1em;
  padding-block: 6em;
  // margin-block: 4em;
  // color: #252525;
  color: #eae6e6;

  h2 {
    text-align: center;
    padding-bottom: 0;
  }
}
