@import "../../App.scss";

.about {
  padding: 1em;
  padding-block: 6em;
  color: $white;

  h2 {
    text-align: center;
    padding-bottom: 0;
  }

  @media (prefers-color-scheme: light) {
    color: $black;
  }
}
