header{
  .mobile{
    display: flex;
    justify-content: space-between;
  }
  nav{
    padding: 1em;
    max-width: 100%;

    .logo{
      width: 50px;
      margin-bottom: -0.7em;
    }
    
    .nav-links-container{
      list-style-type: none;
      position: fixed;
      top: 0;
      right: 0;
      background-color: white;
      z-index: 100;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 80vw;
      height: 70vh;
    }
      
    .toggle-btn{
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      z-index: 1000;
    }
  
  }
  .desktop{
    display: none;


    @media (min-width: 500px) {
      padding: 1em;
      display: flex; 
      justify-content: space-between;

      .logo{
        width: 70px;
      }

      .nav-links-container{
        position:static;
        transform: none;
        flex-direction: row;
        padding: 1em;
        
        width: auto;
        height: auto;

        li{
          margin-left: 1em;
        }
      }    
      
    }
  }

  @media (min-width: 500px) {
    .mobile{
      display: none;
    }
  }

}