@import "../../App.scss";

header {
  background-color: #121212;
  position: fixed;
  width: 100%;
  z-index: 100;

  nav {
    padding: 0.5em;
    max-width: 100%;

    .logo {
      width: 50px;
      color: rgb(222, 127, 214);
      font-family: cursive;
      font-size: 1.25rem;
    }

    .nav-links-container {
      list-style-type: none;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3em;
      align-items: center;
      width: 80vw;
      height: 100vh;
      background-color: #121212;
      animation: fadeOutRight 0.5s forwards;

      li a {
        color: $white;
      }

      li.contact {
        // background-color: rgb(190, 79, 181);
        padding: 0.5em 1em;
        border-radius: 5px;
      }

      li.contact a {
        color: white;
      }

      li.contact a:hover {
        filter: brightness(120%);
      }
      @media (prefers-color-scheme: light) {
        background-color: $white;

        li a {
          color: $black;
        }
      }
    }

    .logo-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .open {
      animation: fadeInRight 0.5s forwards;
    }
    .close {
      animation: fadeOutRight 0.5s forwards;
    }

    .toggle-btn {
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      z-index: 1000;
      color: $white;
    }

    @media (min-width: 500px) {
      display: flex;
      justify-content: space-between;

      .toggle-btn {
        display: none;
      }

      .logo {
        width: 70px;
        font-size: 2rem;
      }

      .nav-links-container {
        position: unset;
        flex-direction: row;
        width: auto;
        height: auto;
        animation: none;
        gap: 1em;

        li {
          margin-left: 1em;
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: $white;
    color: $black;

    nav .toggle-btn {
      color: $black;
    }
  }
}
