header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;

  nav {
    padding: 1em;
    max-width: 100%;

    .logo {
      width: 50px;
      // margin-bottom: -0.7em;
      color: rgb(190, 79, 181);
      font-family: cursive;
      font-size: 1.25rem;
    }

    .nav-links-container {
      list-style-type: none;
      position: fixed;
      top: 0;
      right: 0;
      background-color: rgb(15, 1, 1);
      z-index: 100;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      justify-content: center;
      gap: 3em;
      align-items: center;
      width: 80vw;
      height: 70vh;
      animation: fadeOutRight 0.5s forwards;

      li {
        color: white;
      }
    }

    .logo-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .open {
      animation: fadeInRight 0.5s forwards;
    }
    .close {
      animation: fadeOutRight 0.5s forwards;
    }

    .toggle-btn {
      background-color: transparent;
      border: none;
      font-size: 1.2rem;
      z-index: 1000;
      color: white;
    }

    @media (min-width: 500px) {
      padding: 1em;
      display: flex;
      justify-content: space-between;

      .toggle-btn {
        display: none;
      }

      .logo {
        width: 70px;
        font-size: 2rem;
      }

      .nav-links-container {
        position: unset;
        flex-direction: row;
        padding: 1em;
        width: auto;
        height: auto;
        animation: none;

        li {
          margin-left: 1em;
        }
      }
    }
  }
  // .desktop{
  //   display: none;

  // @media (min-width: 500px) {
  //   .mobile{
  //     display: none;
  //   }
  // }
}
