*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$blue: #1CBDC5;
$yellow: #F5E1A1;
$green: #B7D1C6;

@font-face {
  font-family: primaryFont;
  src: url("./assets/fonts/Satista.otf");
}
body{
  text-align: center;
} 
a{
  text-decoration: none;
  color: #252525;

  &:hover,
  &:focus{
    color: #cbc4c4;
  }
}

.container{
  padding: 1em;
  text-align: left;
}

img{
  max-width: 100%;
}
h1, h2, h3{  
  font-family: 'Cinzel Decorative', cursive;
}
h1{
  margin-top: 0; 
}
a{
  text-decoration: none;
}

.accent-color{
  font-weight: bold;
  color:#10797E;
}

.pattern{
  width: 30%;
  height: 30%;
  top: 0;
  border: 2px solid black;
}
.inner{
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-auto-rows: 1fr;
  grid-gap: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}


.contact{
  background: url("./assets/images/Vorderrhein.png");
  //background-size: cover;
  background-position: left;
  background-color: #10797E;
  background-blend-mode:soft-light;
  color: white;
}
.btn{
  background: #F2D64F;
  text-decoration: none;  
  display: inline-block;
  border-radius: 7px;
  padding: 0.5em 1.2em;

  &:hover{
    background-color: white;
    color: #252525;
    border: 1px solid #252525;
  }
}
.btn + .btn {
  margin-left: 1em;
}

@media (min-width: 600px) {
    html{
      font-size: 120%;
    }
}