* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$blue: #1cbdc5;
$yellow: #f5e1a1;
$green: #b7d1c6;

$black: #020305;
$white: white;

@font-face {
  font-family: primaryFont;
  src: url("./assets/fonts/GrandSlang-Roman.ttf");
}

body {
  text-align: center;
  background-color: #020305;
}
a {
  text-decoration: none;
  color: #cbc4c4;

  &:hover,
  &:focus {
    color: #838080;
  }
}

button {
  cursor: pointer;
}
.container {
  padding: 1em;
  text-align: left;
}

img {
  max-width: 100%;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: $white;
}
h1 {
  font-family: primaryFont, sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}

.accent-color {
  font-weight: bold;
}

.pattern {
  width: 30%;
  height: 30%;
  top: 0;
  border: 2px solid black;
}
.inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

// .download-container{
//   margin: 3em auto 0;
//   display: flex;
//   justify-content: center;

//   .download{
//       display: inline-flex;
//       align-items: center;
//       justify-content: center;
//       gap: 0.3em;
//       background-color: white;
//       color: #252525;
//       padding: 0.5em 1.5em;
//       border-radius: 5px;
//   }
// }

.projects-title {
  margin-top: 2em;
  color: white;
}

#projects {
  padding-top: 2em;
}

.contact {
  background-position: top;
  background-size: cover;
  background: linear-gradient(45deg, rgb(238, 133, 194), #6b3b7c);
  color: white;
}
.btn {
  background: #824d95;
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  padding: 0.5em 1.2em;
  border: 1px solid #824d95;

  &:hover {
    background-color: white;
    color: #252525;
    border: 1px solid #252525;
  }
}
.btn + .btn {
  margin-left: 1em;
}

@media (min-width: 600px) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 600px) and (max-width: 940px) and (orientation: landscape) {
  html {
    font-size: 90%;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: whitesmoke;
    color: #020305;
  }

  h1,
  h2,
  h3 {
    color: #020305;
  }

  .projects-title {
    color: #020305;
  }

  a {
    color: #3d3d3d;

    &:hover,
    &:focus {
      color: #838080;
    }
  }
}
